
.navbar-brand {
    font-family: "Poppins", sans-serif; /* Unique font */
    font-size: 1.0rem;
    font-weight: bold;
    color: #000000 !important;
}
.nav-middle {
    flex: 1;
    display: flex;
    justify-content: center;
}
.nav-right .nav-link {
    margin-left: 10px;
    /* font-weight: 500; */
}
.nav-item .nav-link:hover {
    color: #3498db !important; /* Hover effect */
}
.nav-item .nav-link{
    font-size: 18px;
    font-weight: bold;
    color: #000000 !important;
}